*{
    padding: 0;
    margin: 0;
    font-family: Quantum Profit Regular;
}

.game-container{
    background-image: url('game_back.jpg');
    width: 400px;
    height: 700px;
    position: absolute;
    display: none;
    overflow: hidden;
}

.menu-container{
    background-image: url("menu-back.jpg");
    width: 400px;
    height: 700px;
    position: absolute;
}

.background{
    width: 400px;
    height: 700px;
    position: absolute;
}

.footer{
    background-color: brown;
    width: 400px;
    height: 80px;
    position: absolute;
    top: 620px;
    display: none;
    justify-content: space-evenly;
    text-transform: capitalize;
}

.bird{
    width: 45px;
    height: 65px;
    position: absolute;
    display: none;
}

.obstacle{
    width: 50px;
    height: 300px;
    position: absolute;
}

.topObstacle{
    width: 50px;
    height: 300px;
    position: absolute;
    transform: rotate(180deg);
}

.center{
    top: 500px;
    left: 100px;
    position: absolute;
    align-items: center;
}

.lose-splash{
    background-image: url("lose-splash.png");
    width: 350px;
    height: 134px;
    display: none;
    position: absolute;
    left: 25px;
    top: 30px;
}

.highScores{
    top: 200px;
    left: 150px;
    position: absolute;
    align-items: center;
}

.logo{
    background-image: url("logo.png");
    width: 300px;
    height: 300px;
    top: 10px;
    left: 50px;
    position: absolute; 
}